.slide__item{
    height:250px !important;
    position:relative;
}

.slide__content-wrapper{
    max-width:1200px;
    height:100%;
    margin:0 auto;
    position:relative;
}

.slide1{
    background-image:url('img/top-banner1.jpg');
    background-size:cover;
    background-position:center center;
}

.slide1:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.1);
}

.slide1__content{
    position:absolute;
    top:30%;
    left:10%;
    color:var(--white-color);
    font-size:2em;
    background-color:rgba(0,0,0,0.2);
    padding:5px;
}

.slide1__content strong{
    color:var(--base-color-light1);
}


.slide2{
    background-image:url('img/top-banner2.jpg');
    background-size:cover;
    background-position:center;
    font-size:2em;
}

.slide2__content{
    position:absolute;
    top:10%;
    right:10%;
    color:var(--white-color);
    background-color:rgba(0,0,0,0.2);
}

.slide2__content strong{
    color:var(--base-color);
}

.column1, .column2{
    margin-top:10px;
    float:left;
}

.column1{
    width: calc(60% - 6px);
}

.column2{
    width: calc(40% - 6px);
    margin-left:6px;
}

.recent-pick__title, .pick-talk__title, .youtuber-board__title{
    font-size:1em;
    font-weight: normal;
    letter-spacing: -1px;
    margin:10px 0;
}

.pick-card{
    font-size:0.9em;
    width:calc(50% - 12px);
    margin:6px;
    float:left;
}

.pick-card__img img{
    width:100%;
    display:block;
}


.pick-card__body{
    padding:1.3em;
}

.pick-card__title{
    font-size:1.5em;
    color:var(--base-color);
}

.pick-card__picker:before{
    content:'picked by'
}

.pick-card__picker{
    color:var(--dark-grey);
}


.pick-card__circle-area{
    clear:both;
    margin-top:20px;
    text-align:center;
}

.pick-card__text{
    margin-top:20px;
    line-height:170%;
}

.pick-card__button-area{
    padding-top:30px;
    text-align:center;
}

.pick-card .button{
    width:25%;
    white-space:nowrap
}

.pick-card__circle:first-child{
    margin-left:0;
}

.pick-card__circle{
    width:calc(25% - 6.666px);
    margin-left:10px;
    display:inline-block;
    vertical-align: top;
    color:var(--base-color);
}

.pick-talk{
    background-color:white;
    width:100%;
    display:block;
}

.pick-talk__title{
    /* margin-bottom:6px; */
}



.youtuber-board{
    
}

.youtuber-board__title{
    margin-top:10px;
    margin-bottom:10px;
}

.youtuber-board .button{
    font-size: 1.2em;
    padding:15px;
}

.icon-font{
    margin-right:10px;
    margin-left:5px;
    font-size:1.2em;
    color:var(--base-color);
}

.icon-font--chat{
    font-size:1.5em;
    
}
