
.content{
    padding:0;
}
.list{
    /* font-size:0; */
    text-align:center;
}

.top{
    margin:20px 10px;
    margin-top:10px;
    
}
.filter{
    width:calc(100% - 175px);
    display:inline-block;
    vertical-align:bottom;
}

.filter__title, .search__title{
    /* margin:10px 0; */
    /* display: block; */
    margin-right:10px;
    font-size:1.2rem;
    letter-spacing: -2px;
    display: inline-block;
}

.filter__title:after, .search__title:after{
    content:':';
    margin-left:5px;
    display: inline-block;
}

.search__desc{
    color:var(--base-color);
}
.filter__group{
    margin-top:10px;
}

.filter__item, .search__item{
    display:inline-block;
    border:1px solid var(--light-grey);
    padding:8px 20px;
    margin-top:10px;
    border-radius: 10px;
    margin-right:10px;
    letter-spacing: -1px;
    color:var(--black-color);
}

.filter__item:hover, .search__item:hover{
    background-color:var(--light-grey);
}

.filter__item--active, .search__item--active{
    background-color:var(--base-color);
    color:white;
}

.filter__item--active:hover, .search__item--active:hover{
    background-color:var(--base-color-dark1);
    color:white;
}


.order{
    margin-top:20px;
}
.order__title{
    color:var(--base-color);
    font-size:1.3rem;
    margin-right: 10px;
    display: inline-block;
}

.order__item{
    display: inline-block;
    border:1px solid var(--light-grey);
    padding: 10px 10px;
    border-radius: 5px;
}

.order__item--active{
    background-color:var(--base-color);
    color:white;
}
.top__add-youtuber{
    display:inline-block;
    vertical-align:middle;
    font-size:1.2em;
    padding:10px 20px;
}

.card{
    width:280px;
    height:350px;
    font-size:1rem;
    margin:10px;
    display:inline-block;
    text-align:left;
}

.card__body{
    padding:20px;
    padding-top:10px;
}

.card__title{
    width:100%;
    background-color:var(--base-color);
    border-radius:5px 5px 0px 0px;
    color:white;
    padding:10px;
}

.card__tag-area{
    margin-bottom:10px;
    height:25px;
    padding-top:2px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card__tag{
    font-size:0.9em;
    border:1px solid var(--light-grey);
    color:var(--black-color);
    border-radius: 5px;
    padding:3px 5px;
    margin-left:5px;
    display:inline;
}

.card__tag:first-child{
    margin-left:0;
}

.card__img{
    width:47%;
    display:inline-block;
    vertical-align: top;
}

.card__circle{
    width:47%;
    margin-left:6%;
    display:inline-block;
    vertical-align: top;
}

.circle-component{
    color:var(--base-color);
}

.circle-component__circle{
    width:70%;
    margin-left:15%;
    text-align:center;
}

.circle-component__value{
    font-size:30px;
}

.circle-component__title{
    font-size:0.9em;
}

.card__point-area{
    margin-top:20px;
}

.card-point{
    width:25%;
    float:left;
    text-align:center;
}

.card-point__value{
    font-size:1.3em;
    color:var(--base-color);
}

.card-point__name{
    margin-top:5px;
    font-size: 0.8em;
}

.card__button-area{
    text-align:center;
    margin-top:4px;
}
.card__button{
    width:45%;
    font-size:0.9em;
    margin-top:20px;
}

.card__button:first-child{
    margin-right:4%;
}

.more{
    width:150px;
    margin:0 auto;
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size:1.2rem;
    box-sizing: border-box;
}

.more--hidden{

    display: none;
}

.nothing{
    font-size:1.5rem;
    margin:100px auto;
    text-align: center;
}