.content{
    padding:80px;
}
.desc{
    text-align: center;
    font-size:2rem;
    color:var(--base-color);
}

.content .button{
    display: block;
    max-width:300px;
    margin:0 auto;
    text-align: center;
    margin-top:20px;
    font-size:1.2rem;
    padding:30px;
}

.google{
    margin-top:20px;
    text-align: center;
}

.google > div{
    display: inline-block;
}
.google > div > div > div > div{
    display: inline-block;
    vertical-align: middle;
}
.google span{
    font-size:0px !important;
    vertical-align: middle;
    padding:0 !important;
    margin:0 !important;
}
.google > div > div{
    text-align: left;
}
.google > div > div >div:after{
    font-size:1rem;
    content : '구글ID로 로그인 하기';
    display: inline-block;
    
    vertical-align: middle;

}

.naver{
    background-color: #3EC729;
}

.naver:hover{
    background-color: rgb(50, 156, 33);
}

